a {
    color: inherit;
}

a:hover {
    color: #980101;
}

.table-yellow {
    --bs-table-color: black;
    --bs-table-bg: #dddd00;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #ffc107;
    --bs-table-striped-color: black;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: black;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: black;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
