.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #538397;
  display: flex;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color : white;
  border-bottom: 2px solid rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #536976;
  background: -webkit-linear-gradient(
    to right,
    #d4d4d4,
    #fff
  );
  background: linear-gradient(
    to right,
    #d4d4d4,
    #fff
  );
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  display: inline;
}

.logReg{
  text-align:right;
}
