.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .details-container > div {
    margin: 1rem 0;
  }
  
  .details-container p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .details-container p:first-of-type {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .details-container p:last-of-type {
    color: #ffa07a;
  }