table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  .h1-responsive {
    font-size: 2.5rem;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  .text-center {
    text-align: center;
  }
  
  .my-4 {
    margin: 1.5rem 0;
  }
  
  u {
    text-decoration: underline;
  }

  .row {
    display: flex;
  }
  
  .card-body {
    height: 100%;
  }
  
  img {
    object-fit: cover;
  }