.content{
position:relative;
top:36%;
left:36%;
width :100%;
}

.title{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.submit{
    padding-top: 2%;
}

.register{
    background-color: orange;
}